
.hero-image{
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.category{
  list-style: none;
  text-decoration: none;
}


.main-header ul li{
  text-decoration: none;
  list-style: none;
  float: left;
  padding-left: 0.5em;
}


.site-info{
  width: 100%;
  display: table;
  overflow: hidden;
  padding-top: 30px;
}
