.header ul li{
  text-decoration: none;
  list-style: none;
  padding-left: 1em;
  float: left;
  display: block;
  background-color: yellow;

}




.site-info{
  width: 280px;
  display: block;
  overflow: hidden;
}
