.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  background: white;
}

.row {
  margin-left: -1em;
  margin-right: -1em;
  @include cf;
}

body{
  background-color: lightgray;
  height: 100%;
}

.main-header ul li{
  height: 30px;
  width: 100%;
  background: purple;
  list-style: none;
}

.nav{
  float:left;
  display: inline-block;
  padding-left: 0.5em;
}




.hero{
  height: 600px;
}

.main-footer{
  height: 400px;
  background-color: purple;
  margin-top: 500px;
}



[class^="col-"] {
  width: 100%;
  float: left;
  min-height: 1px;
  padding: 0 1em;
}

@for $i from 1 through 12 {
  .col-#{$i} {
    @media screen and (min-width: 600px){
      width: (100% / 12) * $i;
    }
  }
}
